body {
  margin: 0;
  position: relative;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

.card{
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: red;
  border: 0.2em solid black;
  border-radius: 1.5em;
}

/*U header i footer dodani height i padding za bolji prikaz teksta unutar kartice */
.card header{
  height: 3em;
  padding: 1em;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
}

.card footer{
  height: 3em;
  padding: 1em; 
  background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
}

.card article img{
  max-height: 100%;
  float: right;
}

.card article { /*visina, pozadinska boja i boja teksta za dio article za obje kartice*/
  height: 12em;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.card article p { /*paragrafu article-a dodano ispunjenje lijevo i top kako bi odvojili tekst od rubova*/
  padding-top: 1em;
  padding-left: 0.5em;
}

h2, p {
  margin: 0
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
}

.card footer p { /*paragrafu podnozja postavljen font i velicina linije*/
  font-size: 1.5em;
  line-height: 2em;
}

/*karticama dan position absolute jer je parent kartica relative*/
.male {/*z index kod muske kartice oznacava da je ona ispred zenske*/
  position: absolute;
  left: 10em; /*ovo će odvojiti za 10em male karticu s lijeve strane u odnosu na body*/
  z-index: 2; /*ili mozemo staviti da je index z kod zenske kartice -1 i dobit cemo isti rezultat*/
}

.female {
  position: absolute;
  top: 10em;
  left: 35em;
}
