ol { /*obrub, sirina, pozicija unutar liste, limitiranje tj odredivanje velicine liste*/
    border: 2px solid black; 
    width: 250px;
    padding: 5px;   
}

li { /*postavke za svakog clana unutar liste obrubi, boja, visina linije*/
    margin-bottom: 5px;
    padding: 3px 3px 3px 34px;
    list-style-position: inside;
}

a { /*stiliziranje linkova: ukloniti underline tj nema nikakvih dekoracija*/
    text-decoration: none;
    color: black;
}

li:nth-of-type(1){
    background-image: url("../images/en-GB.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-color: rgba(0, 255, 0, 0.75);
}

li:nth-of-type(2){
    background-image: url("../images/es.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-color: rgba(0, 0, 255, 0.5);
}

li:nth-of-type(3){
    background-image: url("../images/de.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-color: rgba(255, 0, 0, 0.25);
}

li:nth-of-type(4){
    background-image: url("../images/es.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-color: rgba(0, 0, 255, 0.5);
}
li:nth-of-type(5){
    background-image: url("../images/de.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-color: rgba(255, 0, 0, 0.25);
}

li:last-child {
    background-image: url("../images/en-GB.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-color: rgba(0, 255, 0, 0.75);
}

 /*-----ili mogli smo napraviti tri klase za boje pozadine clanova liste te sliku urediti preko img njene margine
 img {  ----pomak slike u lijevo te postavljanje margine kako bi ju centrirali
    float: left;
    margin-top: 2px;
}
.en {
    background-color: rgba(0, 255, 0, .75);
}

.de {
    background-color: rgba(255, 0, 0, .25);
}

.es {
    background-color: rgba(0, 0, 255, .5);
}*/

a:hover /* prijelaz(hover) preko linkova, uppercase kao transformacija, crvena boja i underline pod tekstom */{
    text-transform: uppercase;
    color: red;
    text-decoration: underline;
}
